@import 'theme/_default'
@import 'utils/_mixins'

html, body
  background: transparent
  font-family: Verdana, Geneva, Tahoma, sans-serif
  font-size: $font-size-normal
  --scroll-behavior: smooth
  scroll-behavior: smooth
  width: 100%

.main
  background-color: $white
  position: absolute
  width: 100%
  z-index: 3

.mindmap
  height: 100%
  width: 100%

.hidden
  left: -500px
  position: fixed
  top: -500px

@import 'ui/_canvas'
@import 'ui/_faq'
@import 'ui/_menu'
@import 'ui/_section'
@import 'ui/_thought'
