{
    "env": {
        "browser": true,
        "es6": true,
        "node": true
    },
    "extends": [
        "airbnb",
        "airbnb/hooks",
        "eslint:recommended",
        "plugin:@typescript-eslint/recommended",
        "plugin:import/errors",
        "plugin:import/typescript",
        "plugin:import/warnings",
        "plugin:jest/recommended",
        "plugin:jsx-a11y/recommended",
        "plugin:prettier/recommended",
        "plugin:react/recommended",
        "plugin:react/recommended",
        "prettier",
        "prettier/@typescript-eslint",
        "prettier/react"
    ],
    "globals": {
        "Atomics": "readonly",
        "SharedArrayBuffer": "readonly"
    },
    "parser": "@typescript-eslint/parser",
    "parserOptions": {
        "ecmaFeatures": {
            "jsx": true
        },
        "ecmaVersion": 2018,
        "sourceType": "module"
    },
    "plugins": ["prettier", "react", "@typescript-eslint", "import", "jsx-a11y"],
    "rules": {
        "arrow-body-style": 0,
        "@typescript-eslint/camelcase": 0,
        "@typescript-eslint/no-explicit-any": 0,
        "@typescript-eslint/no-non-null-assertion": 0,
        "@typescript-eslint/no-use-before-define": ["warn"],
        "@typescript-eslint/prefer-interface": 0,
        "class-methods-use-this": ["warn", { "exceptMethods": ["isOverlappingWith"] }],
        "function-call-argument-newline": 0,
        "import/prefer-default-export": 0,
        "jsx-quotes": ["warn", "prefer-single"],
        "lines-between-class-members": 0,
        "newline-before-return": ["warn"],
        "no-console": "warn",
        "no-nested-ternary": 0,
        "no-shadow": "error",
        "no-use-before-define": 0,
        "prettier/prettier": "warn",
        "react/display-name": 0,
        "react/jsx-filename-extension": 0,
        "react/jsx-first-prop-new-line": [1, "multiline-multiprop"],
        "react/jsx-max-props-per-line": [1, { "maximum": 2, "when": "multiline" }],
        "react/jsx-props-no-spreading": 0,
        "react/prop-types": 0,
        "react/static-property-placement": 0,
        "jsx-a11y/alt-text": [
            2,
            {
                "img": ["ExpertImage"]
            }
        ],
        "import/extensions": [
            "error",
            "ignorePackages",
            {
                "js": "never",
                "mjs": "never",
                "jsx": "never",
                "ts": "never",
                "tsx": "never"
            }
        ],
        "import/no-extraneous-dependencies": 0
    },
    "settings": {
        "react": {
            "version": "detect"
        },
        "import/resolver": {
            "typescript": {}
        }
    }
}
