{
    "bracketSpacing": true,
    "endOfLine": "auto",
    "jsxBracketSameLine": false,
    "printWidth": 120,
    "rcVerbose": true,
    "semi": true,
    "singleQuote": true,
    "tabWidth": 4,
    "trailingComma": "es5",
    "useTabs": false
}
