{
  "processors": ["stylelint-processor-styled-components"],
  "extends": ["stylelint-config-standard", "stylelint-config-styled-components", "stylelint-config-prettier"],
  "syntax": "scss",
  "rules": {
    "indentation": [
      4,
      {
        "baseIndentLevel": 2
      }
    ],
    "declaration-empty-line-before": [
      "always",
      {
        "except": ["after-declaration", "first-nested"],
        "ignore": ["after-comment"]
      }
    ],
    "declaration-colon-newline-after": "always-multi-line",
    "declaration-colon-space-after": "always-single-line",
    "value-keyword-case": null
  }
}
