/* line 4, D:/_Dev/mindmapper/sass/app.sass */
html, body {
  background: transparent;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 15px;
  --scroll-behavior: smooth;
  scroll-behavior: smooth;
  width: 100%; }

/* line 12, D:/_Dev/mindmapper/sass/app.sass */
.main {
  background-color: #ffffff;
  position: absolute;
  width: 100%;
  z-index: 3; }

/* line 18, D:/_Dev/mindmapper/sass/app.sass */
#thoughts-container {
  background-color: #ffffff;
  background-image: url("../img/chessboard.svg");
  background-size: 60px;
  background-repeat: repeat;
  position: absolute; }

/* line 25, D:/_Dev/mindmapper/sass/app.sass */
#mini-map {
  background: rgba(50, 100, 255, 0.1);
  border: 1px solid #008fd5;
  bottom: 15px;
  height: 300px;
  position: absolute;
  right: 15px;
  width: 300px;
  z-index: 4; }

/* line 35, D:/_Dev/mindmapper/sass/app.sass */
#mini-map__viewport {
  background: rgba(50, 100, 255, 0.1);
  border: 1px solid #008fd5;
  bottom: 15px;
  height: 50px;
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  z-index: 5; }

/* line 46, D:/_Dev/mindmapper/sass/app.sass */
.hidden {
  left: -500px;
  position: fixed;
  top: -500px; }

/* line 1, D:/_Dev/mindmapper/sass/ui/_mindmap.sass */
#mindmap {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative; }

/* line 1, D:/_Dev/mindmapper/sass/ui/_canvas.sass */
#canvas {
  background: transparent;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1; }

/* line 1, D:/_Dev/mindmapper/sass/ui/_faq.sass */
.faq-item {
  position: relative; }
  /* line 4, D:/_Dev/mindmapper/sass/ui/_faq.sass */
  .faq-item:not(:last-child) {
    border-bottom: 1px solid #d1d1d1;
    margin-bottom: 30px;
    padding-bottom: 30px; }
  /* line 9, D:/_Dev/mindmapper/sass/ui/_faq.sass */
  .faq-item .faq-question {
    font-size: 20px;
    margin-bottom: 10px;
    margin-left: 30px; }
    /* line 14, D:/_Dev/mindmapper/sass/ui/_faq.sass */
    .faq-item .faq-question:before {
      content: "Q:";
      position: absolute;
      left: 0; }
  /* line 19, D:/_Dev/mindmapper/sass/ui/_faq.sass */
  .faq-item .faq-answer {
    margin-left: 30px; }
    /* line 22, D:/_Dev/mindmapper/sass/ui/_faq.sass */
    .faq-item .faq-answer:before {
      content: "A:";
      position: absolute;
      left: 0; }

/* line 1, D:/_Dev/mindmapper/sass/ui/_menu.sass */
#menu {
  height: 32px;
  font-size: 0;
  left: 0;
  position: fixed;
  right: 0;
  text-align: center;
  top: 0;
  z-index: 4; }
  /* line 11, D:/_Dev/mindmapper/sass/ui/_menu.sass */
  #menu > .link-wrapper {
    -webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.22);
    -moz-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.22);
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.22);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    display: inline-block;
    height: 32px;
    margin: 0 auto;
    padding: 0;
    text-align: center; }
    /* line 21, D:/_Dev/mindmapper/sass/ui/_menu.sass */
    #menu > .link-wrapper > .link {
      background-color: #ffffff;
      border-bottom: 1px solid #d1d1d1;
      color: #444444;
      display: inline-block;
      font-size: 15px;
      height: 22px;
      line-height: 19px;
      margin: 0;
      padding: 5px 18px;
      text-decoration: none;
      transition: color 0.2s ease, background-color 0.2s ease, border 0.2s ease;
      border-left: 1px solid #d1d1d1; }
      /* line 35, D:/_Dev/mindmapper/sass/ui/_menu.sass */
      #menu > .link-wrapper > .link:not(.link-selected):hover {
        color: #000000;
        border-bottom: 3px solid #444444; }
      /* line 39, D:/_Dev/mindmapper/sass/ui/_menu.sass */
      #menu > .link-wrapper > .link:first-child {
        border-bottom-left-radius: 5px; }
      /* line 42, D:/_Dev/mindmapper/sass/ui/_menu.sass */
      #menu > .link-wrapper > .link-selected {
        border-bottom: 3px solid #008fd5; }
      /* line 45, D:/_Dev/mindmapper/sass/ui/_menu.sass */
      #menu > .link-wrapper > .link:last-child {
        border-bottom-right-radius: 5px; }
    /* line 48, D:/_Dev/mindmapper/sass/ui/_menu.sass */
    #menu > .link-wrapper > .donate {
      background-color: #b71313;
      color: #ffffff !important; }
      /* line 52, D:/_Dev/mindmapper/sass/ui/_menu.sass */
      #menu > .link-wrapper > .donate:hover {
        background-color: #33a809; }

/* line 1, D:/_Dev/mindmapper/sass/ui/_section.sass */
.section {
  padding: 60px; }
  /* line 4, D:/_Dev/mindmapper/sass/ui/_section.sass */
  .section.dimmed {
    background-color: #f9f9f9; }
    /* line 7, D:/_Dev/mindmapper/sass/ui/_section.sass */
    .section.dimmed .section-header {
      border-bottom-color: #008fd5; }
  /* line 10, D:/_Dev/mindmapper/sass/ui/_section.sass */
  .section .paragraph {
    margin-bottom: 30px; }
  /* line 13, D:/_Dev/mindmapper/sass/ui/_section.sass */
  .section .section-header {
    border-bottom: 3px solid #008fd5;
    display: inline-block;
    font-size: 30px;
    line-height: 35px;
    margin-bottom: 30px;
    padding: 0 25px 10px 5px; }
  /* line 21, D:/_Dev/mindmapper/sass/ui/_section.sass */
  .section .section-content {
    font-size: 15px;
    line-height: 28px;
    margin: 0 auto;
    max-width: 1100px;
    padding: 30px; }

/* line 1, D:/_Dev/mindmapper/sass/ui/_thought.sass */
.thought {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  background-color: #f9f9f9;
  border-bottom: 3px solid #008fd5;
  border-radius: 3px;
  box-shadow: none;
  color: #444444;
  left: 0;
  max-width: 220px;
  outline: none;
  overflow-wrap: break-word;
  overflow: hidden;
  padding: 3px 5px;
  position: absolute;
  top: 0;
  transition: color 0.2s ease, border 0.2s ease, box-shadow 0.2s ease;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  z-index: 2; }
  /* line 26, D:/_Dev/mindmapper/sass/ui/_thought.sass */
  .thought-root {
    text-align: center; }
    /* line 32, D:/_Dev/mindmapper/sass/ui/_thought.sass */
    .thought-root > textarea {
      text-align: center; }
  /* line 35, D:/_Dev/mindmapper/sass/ui/_thought.sass */
  .thought:hover {
    -webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.22);
    -moz-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.22);
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.22); }
  /* line 38, D:/_Dev/mindmapper/sass/ui/_thought.sass */
  .thought:focus, .thought.selected {
    -webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.22);
    -moz-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.22);
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.22); }
  /* line 42, D:/_Dev/mindmapper/sass/ui/_thought.sass */
  .thought-textarea {
    border: none;
    font-family: inherit;
    font-size: inherit;
    height: 100%;
    line-height: inherit;
    margin: 0;
    overflow: hidden;
    padding: 0;
    resize: none;
    width: 100%; }
